@import "tailwindcss";

@font-face {
    font-family: Avinga;
    src: url(./assets/Avinga.ttf);
}
@font-face {
    font-family: solenoid;
    src: url(./assets/solenoidal.ttf);
}
@font-face {
    font-family: customfont1;
    src: url(./assets/customFontface.ttf);
}
@font-face {
    font-family: customfont2;
    src: url(./assets/customfont2.ttf);
}
@font-face {
    font-family: customfont4;
    src: url(./assets/customfont4.ttf);
}
@font-face {
    font-family: Brigsa;
    src: url(./assets/Brigsa.ttf);
}

*{
    cursor:none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}
.skillHeading{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 1.7rem;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
    .skillHeading {
        font-size: 1.5rem;
    }
}
